   /* fontlezen_ddpic begin */
   /* 相册样式 */
   
   .page5-close {
       width: 2rem;
       height: 2rem;
       background-color: red;
       position: absolute;
       top: 2rem;
       right: 2rem;
   }
   
   #fonglezen_ddpic {
       width: 80%;
       height: 80%;
       position: absolute;
       z-index: 25;
       top: 50%;
       left: 50%;
       margin-left: -40%;
       margin-top: -10rem;
   }
   
   #fonglezen_ddpic li {
       position: absolute;
       left: 0;
       top: 0;
       text-align: center;
       width: 247px;
       height: 413px;
       box-sizing: border-box;
   }
   
   #fonglezen_ddpic li img {
       width: 100%;
       height: 100%;
       border: 3px solid #fff;
   }
   
   @keyframes goimg {
       from {
           opacity: 0;
           transform: scale(1.5, 1.5) rotateZ(40deg) translateY(100px) translateX(300px);
           tranform-origin: 0 100%;
       }
       to {
           opacity: 1;
       }
   }
   
   #fonglezen_ddpic li {
       z-index: 5;
   }
   
   #fonglezen_ddpic li:nth-child(1) {
       z-index: 10;
   }
   
   #fonglezen_ddpic li:nth-child(2) {
       z-index: 9;
   }
   
   #fonglezen_ddpic li:nth-child(3) {
       z-index: 8;
   }
   
   #fonglezen_ddpic li:nth-child(4) {
       z-index: 7;
   }
   
   #fonglezen_ddpic li img {
       -webkit-transform: rotateZ(12deg);
       transform: rotateZ(12deg);
       z-index: 5;
       -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
       -ms-backface-visibility: hidden;
       backface-visibility: hidden;
       -webkit-perspective: 1000;
       -moz-perspective: 1000;
       -ms-perspective: 1000;
       perspective: 1000;
   }
   
   #fonglezen_ddpic li:nth-child(1) img {
       -webkit-transform: rotateZ(0deg);
       transform: rotateZ(0deg);
       z-index: 10;
   }
   
   #fonglezen_ddpic li:nth-child(1) .goimg {
       -webkit-animation: goimg 0.6s;
       -webkit-animation-fill-mode: both;
       -webkit-animation-delay: 2s;
       animation: goimg 0.6s;
       animation-fill-mode: both;
       animation-delay: 2s;
   }
   
   #fonglezen_ddpic li:nth-child(2) img {
       -webkit-transform: rotateZ(3deg);
       transform: rotateZ(3deg);
       z-index: 9;
   }
   
   #fonglezen_ddpic li:nth-child(2) .goimg {
       -webkit-animation: goimg 0.6s;
       -webkit-animation-fill-mode: both;
       -webkit-animation-delay: 1.5s;
       animation: goimg 0.6s;
       animation-fill-mode: both;
       animation-delay: 1.5s;
   }
   
   #fonglezen_ddpic li:nth-child(3) img {
       -webkit-transform: rotateZ(6deg);
       transform: rotateZ(6deg);
       z-index: 8;
   }
   
   #fonglezen_ddpic li:nth-child(3) .goimg {
       -webkit-animation: goimg 0.6s;
       -webkit-animation-fill-mode: both;
       -webkit-animation-delay: 1s;
       animation: goimg 0.6s;
       animation-fill-mode: both;
       animation-delay: 1s;
   }
   
   @keyframes hideToright {
       from {
           opacity: 1;
           transform: translate3d(0, 0, 0) scale(1);
       }
       to {
           opacity: 0;
           transform: translate3d(100%, 0, 0) scale(0.5);
       }
   }
   
   .hideToright {
       -webkit-animation: hideToright 0.5s;
       -webkit-animation-fill-mode: both;
       animation: hideToright 0.5s;
       animation-fill-mode: both;
   }
   
   @keyframes hideToleft {
       from {
           opacity: 1;
           transform: translate3d(0, 0, 0);
       }
       to {
           opacity: 0;
           transform: translate3d(-100%, 0, 0);
       }
   }
   
   .hideToleft {
       -webkit-animation: hideToleft 0.5s;
       -webkit-animation-fill-mode: both;
       animation: hideToleft 0.5s;
       animation-fill-mode: both;
   }
   
   @keyframes backinit {
       from {
           transform: rotateZ(3deg);
       }
       to {
           transform: rotateZ(0deg);
       }
   }
   
   #fonglezen_ddpic li:nth-child(2) .backinit {
       -webkit-animation: backinit 0.5s;
       -webkit-animation-fill-mode: both;
       animation: backinit 0.5s;
       animation-fill-mode: both;
       -webkit-animation-delay: 0;
       animation-delay: 0;
   }
   
   @keyframes backinit1 {
       from {
           transform: rotateZ(6deg);
       }
       to {
           transform: rotateZ(3deg);
       }
   }
   
   #fonglezen_ddpic li:nth-child(3) .backinit1 {
       -webkit-animation: backinit1 0.5s;
       -webkit-animation-fill-mode: both;
       animation: backinit1 0.5s;
       animation-fill-mode: both;
       -webkit-animation-delay: 0.15s;
       animation-delay: 0.15s;
   }